.PlaylistsContainer{
    display: flex;
    width: 100%;
    gap: 2rem;
}

.PlaylistsContainer .YourPlaylists, .PlaylistsContainer .SelectedPlaylists {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 50%;
    height: 30rem;
    box-sizing: border-box;
    border-style: solid;
    border-color: blue;
    border-width: 2px;
    background-color: darkgray;
    overflow-y: auto;
}
.PlaylistsContainer h2 {
    top: 0;
    position: sticky;
}

.PlaylistsContainer ul {
    list-style: none;
}

/* Not Selected Playlists */

.YourPlaylistItem{
    position: inherit;
    width: 100%;
}

.YourPlaylistItem button{
    width: 10%;
    height: auto;
    padding: 0;
    border: none;
}

.YourPlaylistItem button img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Selected Playlists */

.SelectedPlaylistItem{
    position: inherit;
    width: 100%;
}

.SelectedPlaylistItem button{
    width: 10%;
    height: auto;
    padding: 0;
    border: none;
}

.SelectedPlaylistItem button img {
    width: 100%;
    height: auto;
    object-fit: contain;
}