.PlaylistsContainer{
    display: flex;
    width: 100%;
    gap: 2rem;
}

.PlaylistsContainer .YourPlaylists, .PlaylistsContainer .SelectedPlaylists {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 50%;
    height: 30rem;
    box-sizing: border-box;
    border-style: solid;
    border-color: blue;
    border-width: 2px;
    background-color: #2f2f2f;
    overflow-y: auto;
}
.PlaylistsContainer h2 {
    top: 0;
    position: sticky;
    text-decoration: underline;
}

.PlaylistsContainer ul {
    list-style: none;
}

/* Not Selected Playlists */

.YourPlaylistItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3c3c3c;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 90%;
}

.YourPlaylistItem button{
    width: 10%;
    height: auto;
    padding: 0;
    border: none;
}

.YourPlaylistItem button img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Selected Playlists */

.SelectedPlaylistItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3c3c3c;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 90%;
}

.SelectedPlaylistItem button{
    width: 10%;
    height: auto;
    padding: 0;
    border: none;
}

.SelectedPlaylistItem button img {
    width: 100%;
    height: auto;
    object-fit: contain;
}